.container {
   width: 1170px;
   margin: 0 auto;
}


/*Responcive*/

@media screen and (max-width: 1200px) {
   .container {
      width: 960px;
   }
}

@media screen and (max-width: 992px) {
   .container {
      width: 720px;
   }
   .hide-on-med-and-down {
      display: block !important;
   }
   nav .brand-logo {
      position: relative;
      left: 0;
   }
}

@media screen and (max-width: 768px) {
   .container {
      width: 540px;
   }
}

@media screen and (max-width: 576px) {
   .container {
      width: 90%;
   }
}

